body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}

header, footer, section, article {
    border: 1px solid grey;
    margin: 5px;
    margin-bottom: 15px;
    padding: 8px;
    background-color: white;
}

header, footer {
    color: white;
    background-color: #444;
    margin-bottom: 5px;
}

section {
    background-color: #ddd;
}

#logo{
    display: inline-block;
    float: left;
}

nav{
    display: inline-block;
    float: right;
    margin: 15px;
    padding: 10px;
}

nav a{
    margin: 5px;
}

.clear {
    display: block;
    clear: both;
}

aside.left{
    display: inline-block;
    float: left;
    width: 20%;
}

section.center{
    display: inline-block;
    width: 57%;
}

aside.right{
    display: inline-block;
    float: right;
    width: 20%;
}
