body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}
div#content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

header#general_header, footer, section, article {
    margin: 0;
    margin-bottom: 15px;
    padding: 8px;
    background-color: white;
}

header#general_header, footer {
    color: black;
    background-color: #555;
    margin-bottom: 5px;
}

section {
    background-color: #ddd;
    margin: 0;
}

#logo{
    display: inline-block;
    float: left;
}

nav{
    display: inline-block;
    float: right;
    margin: 15px;
    padding: 10px;
}

nav a{
    margin: 5px;
}

.clear {
    display: block;
    clear: both;
}

aside.left{
    display: inline-block;
    float: left;
    width: 20%;
}

section.center{
    display: inline-block;
    float: left;
    width: 57%;
}

aside.right{
    display: inline-block;
    float: left;
    width: 20%;
}

h1#index_title{
    font-size: 50px;
    display: inline-block;
    float: left;
    margin: 20px;
    width: 70%;
}

div#search_input{
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

header#index_header {
    border-bottom: 2px blue solid;
    margin-bottom: 20px;
}

/*Article*/
#bottomBlue{
    border-bottom: 2px blue solid;
}

h2.titleArticle{
    font-size: 40px;
    margin: 0;
    color: red;
}

/*tables*/
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 5px;
}

/*date*/
.date{
    position: relative;
    display: inline-block;
    float: left;
}

.date .number{
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}

.date .month{
    font-size: 20px;
    text-align: center;
}

.date{
    position: relative;
    width: 50px;
    height: 37px;
    margin: 15px;
    display: inline-block;
    float: left;
    font-family: 'Voltaire', Arial, sans-serif;
    line-height: 1em;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}