body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}
div#content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

header#general_header, footer, section, article {
    border: 1px solid grey;
    margin: 5px;
    margin-bottom: 15px;
    padding: 8px;
    background-color: white;
}

header#general_header, footer {
    color: white;
    background-color: #444;
    margin-bottom: 5px;
}

section {
    background-color: #ddd;
    margin: 0;
}

#logo{
    display: inline-block;
    float: left;
}

nav{
    display: inline-block;
    float: right;
    margin: 15px;
    padding: 10px;
}

nav a{
    margin: 5px;
}

.clear {
    display: block;
    clear: both;
}

aside.left{
    display: inline-block;
    float: left;
    width: 20%;
}

section.center{
    display: inline-block;
    float: left;
    width: 57%;
}

aside.right{
    display: inline-block;
    float: left;
    width: 20%;
}

h1#index_title{
    font-family: FontAwesome;
    font-size: 50px;
    display: inline-block;
    float: left;
    margin: 20px;
    width: 70%;
}

div#search_input{
    display: inline-block;
}