.center article .header-post{
    position: relative;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.center article .header-post .entry-date{
    position: absolute;
    width: 50px;
    height: 37px;
    top: 15px;
    left: -23px;
    display: block;
    padding-top: 13px;
    font-family: 'Voltaire', Arial, sans-serif;
    line-height: 1em;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}

.center article .header-post .entry-date .number{
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px;
}

.center article .header-post .entry-date .month{
    font-size: 13px;
    text-align: center;
}

.center article .header-post .title-post{
    display: block;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 32px;
    line-height: 1.1em;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 14px;
    margin-bottom: 21px;
}


.center article .body-post{
    float: left;
    width: 421px;
    display: inline-block;
}

.center article .body-post .img-post{
    float: left;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
}

.center article .body-post .text-post{
    float: right;
    display: block;
    position: relative;
}